/*------------------SEÇÃO DE RESETS DE ESTILOS PADRÃO-----------------*/
/*Primeiro fazemos as configurações gerais e reset de algumas tags*/
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}

h1,
ul,
p {
  margin: 0px;
}

/*reset da lista*/
ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /*Para que os links herdem a propiredade do elemento pai*/
}

img {
  max-width: 100%;
  display: block;
}
/*----------------FIM DA SEÇÃO DE RESETS--------------------------------*/

.header-bg {
  background-color: #000000;
}

.header {
  display: flex; /*para alinhas os itens do header um ao lado do outro (poderia ser tambem em grid)*/
  flex-wrap: wrap; /*para que o header quebre quando a tela diminuir*/
  gap: 20px; /*distância mínima entre os itens (quando a tela diminuir, pois o space-between os deixa separados na tela)*/
  justify-content: space-between; /*cria espaçamento reguar entre os itens*/
  align-items: center; /*alina os itens sempre ao centro do maior item verticalmente*/
  box-sizing: border-box; /*Não conta os valores de padding na propriedade max-width*/
  padding: 20px; /*padding*/
  max-width: 1200px; /*tamnho total que o header deve ocupar na tela (box-sizing faz desconsiderar os valores de padding na soma)*/
  margin-left: auto; /*alinhar ao centro quando a tela crescer infinitamente*/
  margin-right: auto; /*alinhar ao centro quando a tela crescer infinitamente*/
}

.header-menu {
  display: flex; /*para alinhar os itens um ao lado do outro*/
  flex-wrap: wrap; /*para que o menu quebre quando a tela diminuir*/
  gap: 40px; /*espaçamento entre os itens*/
}

.header-menu a {
  color: #ffffff;
  display: inline-block; /*para que o padding funcione direito quando houver quebra de linha*/
  padding: 16px 0px; /*para aumentar a area de click do menu*/
  font-size: 18px;
  position: relative; /*para retirar o decorador do link do fluxo*/
}

.header-menu a::after {
  /*Criação do pseudo elemento decorativo do menu*/
  content: "";
  display: block;
  height: 2px;
  width: 0px; /*a largura será zerada para que a ação de hover faça ele crescer*/
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s; /*velocidade ideal para o elemento surgir suavemente na tela*/
  position: absolute; /*posição a bsoluta em relação ao elemento pai que é o próprio a*/
}

.header-menu a:hover::after {
  /*criando a psuedo classe no pseudo elemento*/
  width: 100%; /*o pseudo elemento terá 100% do tamanho do elemento pai (a)*/
} /*Vide media query que retira esse efeito no mobile, por ser desnecessário*/

/*Criação do responsivo - Todos os estilos abaixo só serão aplicados em telas menores que 800px e 600px*/
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    /*para deixar os links parecidos com botões no mobile*/
    background: #111111; /*altera o fundo*/
    padding: 12px 16px; /*aumenta a area de contato*/
    border-radius: 4px; /*arredonda as bordas*/
  }
  .header-menu a:hover {
    background-color: #2e2e2e; /*efeito de passar o mouse*/
  }
  .header a:after {
    display: none; /*retirando o pseudo elemento do mobile*/
  }
}

@media (max-width: 600px) {
  /*quando a tela diminuir mais ainda*/
  .header-menu {
    gap: 12px; /*diminui o gap*/
  }
  .header-menu a {
    padding: 8px 12px; /*ajusta o padding*/
    font-size: 14px; /*diminui a fonte*/
  }
}

.introducao-bg {
  background: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff; /*Essa sombra foi colocada para dar o efeito de vazamento da foto. Na realidade a foto não está vazando o container, e sim está com seus -120px acima da sombra*/
}

.introducao {
  display: grid; /*'dispor os elementos da introdução em um grid*/
  grid-template-columns: 1fr 1fr; /*tamanhos iguais para os grids*/
  gap: 0px 40px; /*somente espaçamento aos lados*/
  box-sizing: border-box; /*o padding e a borda são incluídos na largura e altura totais do elemento.*/
  max-width: 1200px; /*largura total*/
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
} /*Obs.: para otimizar a escrita do CSS, no HTML separamos a imagem do conteúdo em divs diferentes*/

.introducao-conteudo {
  align-self: end; /*para alinhar a introdução á parte debaixo do container*/
  padding-bottom: 200px; /*por padrão, os objetos serão posicionados com margin-bottom, para maior consistencia. O valor foi ajustado para 200 para que os demais conteudos não sobrepusessem a box-shadow*/
}

.introducao img {
  height: 100%; /*para que ocupe 100% do container (causa distorção)*/
  object-fit: cover; /*para "cropar a imagem", e ela não distorcer conforme redmensiona*/
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125; /*Sempre usar valores relativos (72px/64px = 1.125)*/
}

.introducao h1 span {
  color: #ffbb00;
}
.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao a {
  display: inline-block; /*para que divida uma linha com outros elementos e tenha dimensões ajustáveis*/
  padding: 16px 32px; /*ajuste de dimensões*/
  background: linear-gradient(
    #ffbb00,
    #f2a50c
  ); /*graidnete lienar conforme prototipo*/
  border-radius: 4px; /*borda arredondada*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*sombra do botão*/
  text-transform: uppercase; /*tudo em maíuscula*/
  color: #332200; /*cordo texto*/
  font-size: 18px; /*tamanho da fonte*/
  line-height: 1.33; /*valor relativo à fonte*/
  font-weight: bold; /*negrito*/
}

.introducao a:hover {
  background: linear-gradient(
    #ffb60d,
    #e59317
  ); /*efetito do mouse ao tocar o botão*/
}

/*Ajustando o Responsivo da Introdução*/
@media (max-width: 600px) {
  /*Aqui diminuimos o tamanho do botão*/
  .introducao a {
    padding: 12px 6px;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  /*diminuimos o tamos do H1 e do parágrafo*/
  .introducao h1 {
    font-size: 48px;
  }
  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  /*Alteramos o background da introdução e diminuimos o box-shadow, e aumentamos o padding superior que estava grudado no header*/
  .introducao-bg {
    background: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .introducao {
    /*Passamos o grid para uma cooluna apenas*/
    grid-template-columns: 1fr;
    gap: 32px; /*espaçamento entre os itens (vertical)*/
  }
  .introducao-conteudo {
    padding-bottom: 0px; /*eliminamos o padding da introdução*/
  }
  .introducao h1 {
    /*diminuimos o texto e margin-top do h1, mais uma vez*/
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao img {
    /*diminuimos a imagem*/
    height: 300px;
    width: 100%;
  }
}
