.container {
  box-sizing: border-box; /*para que a largura total seja os valores e padding e margin*/
  max-width: 1200px; /*largura total*/
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto; /*margens automáticas*/
  margin-right: auto;
}

.botao {
  display: inline-block; /*para que divida uma linha com outros elementos e tenha dimensões ajustáveis*/
  padding: 16px 32px; /*ajuste de dimensões*/
  background: linear-gradient(
    #ffbb00,
    #f2a50c
  ); /*graidnete lienar conforme prototipo*/
  border-radius: 4px; /*borda arredondada*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*sombra do botão*/
  text-transform: uppercase; /*tudo em maíuscula*/
  color: var(--cor-p5); /*cordo texto*/
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content; /*para que o botão não ocupe toda a linha do grid*/
}

.botao:hover {
  background: linear-gradient(
    #ffb60d,
    #e59317
  ); /*efetito do mouse ao tocar o botão*/
}

/*Criando a classe do botão secundario
Obs.: por ser secundario, seu estilo deve obrigatoriamente estar abaixo do principal
*/

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

/*Ajustando o Responsivo da Introdução*/
@media (max-width: 600px) {
  /*Aqui diminuimos o tamanho do botão*/
  .botao {
    padding: 12px 6px;
    font-size: 16px;
  }
}

.link {
  display: inline-block; /*por padrão é inline, alteramos para block para que pegue os valores*/
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif; /*forma contrata de atribuir a fonte*/
  text-transform: uppercase;
}

.link::after {
  content: ""; /*criamos um pseudo-elemento para o sublinhado para poder darmos o espaçamento desejado*/
  display: block; /*'para que pegue valores de largura, altura*/
  width: 100%;
  height: 4px;
  background-color: currentColor; /*essa porpriedade faz o pseudo-elemento herdar a cor do elemento pai, seja ela qual for.*/
}

.link:hover {
  color: var(--cor-0); /*efeito de mouse por cima*/
}
