body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

/*reset da lista*/
ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /*Para que os links herdem a propiredade do elemento pai*/
}

img {
  max-width: 100%;
  display: block;
}

img[src$="jpg"] {
  border-radius: 4px; /*Esse seletor de atributos vai arredondar automaticamente as bordas de TODAS as imagens do site que TERMINEM com "jog". Se fosse colocado direto na tag imagem, ele também arredondaria os cantos dos svg*/
}
