.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0); /*Essa sombra foi colocada para dar o efeito de vazamento da foto. Na realidade a foto não está vazando o container, e sim está com seus -120px acima da sombra*/
}

.introducao {
  display: grid; /*'dispor os elementos da introdução em um grid*/
  grid-template-columns: 1fr 1fr; /*tamanhos iguais para os grids*/
  gap: 0px 40px; /*somente espaçamento aos lados*/
} /*Obs.: para otimizar a escrita do CSS, no HTML separamos a imagem do conteúdo em divs diferentes*/

.introducao-conteudo {
  align-self: end; /*para alinhar a introdução á parte debaixo do container*/
  padding-bottom: 200px; /*por padrão, os objetos serão posicionados com margin-bottom, para maior consistencia. O valor foi ajustado para 200 para que os demais conteudos não sobrepusessem a box-shadow*/
}

.introducao img {
  height: 100%; /*para que ocupe 100% do container (causa distorção)*/
  object-fit: cover; /*para "cropar a imagem", e ela não distorcer conforme redmensiona*/
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao h1 span {
  color: var(--cor-p1);
}
.introducao p {
  margin-bottom: 20px;
}

/* @media (max-width: 1200px) {
  /*diminuimos o tamos do H1 e do parágrafo*/
/* .introducao h1 {
    font-size: 48px;
  }
  .introducao p {
    font-size: 18px;
  }
} */

@media (max-width: 800px) {
  /*Alteramos o background da introdução e diminuimos o box-shadow, e aumentamos o padding superior que estava grudado no header*/
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao {
    /*Passamos o grid para uma cooluna apenas*/
    grid-template-columns: 1fr;
    gap: 32px; /*espaçamento entre os itens (vertical)*/
  }
  .introducao-conteudo {
    padding-bottom: 0px; /*eliminamos o padding da introdução*/
  }
  .introducao h1 {
    /*diminuimos o texto e margin-top do h1, mais uma vez*/
    margin-bottom: 16px;
  }
  .introducao img {
    /*diminuimos a imagem*/
    height: 300px;
    width: 100%;
  }
}
