.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, max-content)
  ); /*A função usada com o parâmetro auto-fit e a função minmax: isso garante que o grid irá se ajustar instantaneamente conform a tela for redmensionada. Ou seja, repite o auto-fit, com um tamanho mínimo de coluna de 280px e o tamanho máximo do conteúdo que houver.*/
  gap: 40px 80px;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}

/*RESPONSIVO*/

@media (max-width: 800px) {
  .vantagens {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantagens h2 {
    margin-bottom: 40px;
  }
  .vantagens ul {
    gap: 20px;
  }
}
